<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="/css/ch.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Change Password</title>
  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">iCoder</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/changePass">Change Password</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <!-- <a class="nav-link disabled"><%=user.Name%></a> -->
              </li>
            </ul>
           
              
            <a href="/logout">
              <button class="btn btn-outline-danger">Log Out</button>
            </a>
            
          </div>
        </div>
      </nav>


      <div class="container main">
        <header class="signup-header">
            <h1>Change Password</h1>
        </header>
        <main class="signup-body">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </symbol>
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
              </svg>
          
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alertM">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
             Wrong Password
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="alertbtn"></button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alertMN">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          Please Enter Any One Passoword 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="alertbtn"></button>
          </div>
         
           


                <p id="cngDiv" class="Cng">
                    If You Want To change images Click <span id="cngbtn" onclick="showAdd()">Chnage Images</span>
                </p>

                <div id="addDiv">

                
                    <div id="cancleDiv">

                        <button id="cancle" onclick="hideDiv()">
                            X
                        </button>
                    </div>
                    <div  id="changeImg" >

                        

                            <p>
                                <label for="formFileMultiple">Select 9 Images For Graphical Password</label>
                                <div class="flex">
                              <input type="hidden"  name="email" id="email" value="<%= user._id %>">

                                <input class="form-control " type="file" id="formFileMultiple" name="passphoto" accept="image/*" multiple>
                                <button  id="upload" onclick="upload()">
                                    Upload
                                </button>
                                </div>
                                
                            </p>
                            
                            <div class="message" id="imDiv">
                                <p class="Error">! Please Select 9 Images</p>
                            </div>
    
    
                    
                    </div>

                 </div>
            

            

               
                    <div class="box">
                      <p class="Old">Enter Old Password</p>
                      <p>

                        <input type="password" class="Old"  id="oldTpass" placeholder="Enter Your Text Password" style="min-width: 100%;" onkeypress="enterText()">
                      </p>
                      
                      <hr style="width: 100%; height: 1px;" class="Old">
                     <span class="Old">OR</span>
                      <hr style="width: 100%; height: 1px;" class="Old">

                        <p class="Old">Enter Old Password</p>

                        <p id="errMessage">

                            Please Select 3 Images
                        </p>
                   

                        <div class="container Grid " id="GridphotoPsd">

        
                                <div class="imgDiv oldIm"><img src="<%=user.PassImages[0].img%>" class="img-fluid imG" alt="<%=user.PassImages[0].id%>" onclick="old(this)"></div>
                                <div class="imgDiv oldIm"><img src="<%=user.PassImages[1].img%>" class="img-fluid imG" alt="<%=user.PassImages[1].id%>" onclick="old(this)"></div>
                                <div class="imgDiv oldIm"><img src="<%=user.PassImages[2].img%>" class="img-fluid imG" alt="<%=user.PassImages[2].id%>" onclick="old(this)"></div>
                                <div class="imgDiv oldIm"><img src="<%=user.PassImages[3].img%>" class="img-fluid imG" alt="<%=user.PassImages[3].id%>" onclick="old(this)"></div>
                                <div class="imgDiv oldIm"><img src="<%=user.PassImages[4].img%>" class="img-fluid imG" alt="<%=user.PassImages[4].id%>" onclick="old(this)"></div>
                                <div class="imgDiv oldIm"><img src="<%=user.PassImages[5].img%>" class="img-fluid imG" alt="<%=user.PassImages[5].id%>" onclick="old(this)"></div>
                                <div class="imgDiv oldIm"><img src="<%=user.PassImages[6].img%>" class="img-fluid imG" alt="<%=user.PassImages[6].id%>" onclick="old(this)"></div>
                                <div class="imgDiv oldIm"><img src="<%=user.PassImages[7].img%>" class="img-fluid imG" alt="<%=user.PassImages[7].id%>" onclick="old(this)"></div>
                                <div class="imgDiv oldIm"><img src="<%=user.PassImages[8].img%>" class="img-fluid imG" alt="<%=user.PassImages[8].id%>" onclick="old(this)"></div>
                               
                          
                            
                        </div>
                        <p class="Cng">Choose 3 Images As Password</p>

                        <div class="container Grid " id="GridphotoSet">

        
                                <div class="imgDiv cngIm"><img src="<%=user.PassImages[0].img%>" class="img-fluid imG imGone" alt="<%=user.PassImages[0].id%>" onclick="set(this)"></div>
                                <div class="imgDiv cngIm"><img src="<%=user.PassImages[1].img%>" class="img-fluid imG imGone" alt="<%=user.PassImages[1].id%>" onclick="set(this)"></div>
                                <div class="imgDiv cngIm"><img src="<%=user.PassImages[2].img%>" class="img-fluid imG imGone" alt="<%=user.PassImages[2].id%>" onclick="set(this)"></div>
                                <div class="imgDiv cngIm"><img src="<%=user.PassImages[3].img%>" class="img-fluid imG imGone" alt="<%=user.PassImages[3].id%>" onclick="set(this)"></div>
                                <div class="imgDiv cngIm"><img src="<%=user.PassImages[4].img%>" class="img-fluid imG imGone" alt="<%=user.PassImages[4].id%>" onclick="set(this)"></div>
                                <div class="imgDiv cngIm"><img src="<%=user.PassImages[5].img%>" class="img-fluid imG imGone" alt="<%=user.PassImages[5].id%>" onclick="set(this)"></div>
                                <div class="imgDiv cngIm"><img src="<%=user.PassImages[6].img%>" class="img-fluid imG imGone" alt="<%=user.PassImages[6].id%>" onclick="set(this)"></div>
                                <div class="imgDiv cngIm"><img src="<%=user.PassImages[7].img%>" class="img-fluid imG imGone" alt="<%=user.PassImages[7].id%>" onclick="set(this)"></div>
                                <div class="imgDiv cngIm"><img src="<%=user.PassImages[8].img%>" class="img-fluid imG imGone" alt="<%=user.PassImages[8].id%>" onclick="set(this)"></div>
                               
                          
                            
                        </div>

                        <div id="imgMessage">
                            <p>

                                You Already Selected 3 Images
                            </p>
                        </div>
                       
                        <button id="resetbtnNxt" class="resetbtn Old" onclick="resetold()">
                            Reset Selection
                        </button>
                        <button id="resetbtnCng" class="resetbtn Cng" onclick="reset()">
                            Reset Selection
                        </button>



                        <div id="passshowdiv">
                            <div class="row ot" id="yrPassDiv">
                                <div class="col-6 Yrpass"><p>Your Password :</p></div>
                                <div class="col-6">
                                    <div class="" id="parentRow">
                                        <!-- <div class="imgContainer"><img src="img4.PNG" class="img-fluid" alt="4" ></div> -->
                                        <!-- <div class="imgContainer"><img src="img4.PNG" class="img-fluid" alt="4" ></div> -->
                                        <!-- <div class="imgContainer"><img src="img4.PNG" class="img-fluid" alt="4" ></div> -->
                                      
                                       
                                         
                                    </div>
                                </div>
                               
                            </div>
                            
                        </div>
                        
                       

                    </div>
              
                           
              
                   <input type="hidden" id="oldPass" value="<%=user.GraphicalPass%>">
                   <input type="hidden" id="oldTPassid" value="<%=user.TextPass%>" >


                    <div class="btne Old" id="nxtBtnDiv">
                        <input type="submit" id="next" value="Next" onclick="checkoldPass()">
                    </div>
                  

                    <form action="/passChange" class="Cng" method="post" onsubmit="return checkPass()">
                        <input type="hidden"  name="Password" id="Password" value="">
                        <input type="hidden"  name="id" id="id" value="<%=user._id%>">

                    <div class="btne " id="cngBtnDiv">
                        <input type="submit" id="submit" value="Change Password">
                    </div>
                   </form>
            
        </main>

       
    </div>

    
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
   <script src="/js/ch.js"></script>
  </body>
</html>